html {
  scroll-behavior: smooth;
}
* {
  font-family: "Poppins", sans-serif;
}
body {
  /* background-color: #E3FDFD; */
}
.pfp {
  width: 15em;
}
/* .middle-img {
  display: flex;
  justify-content: center;
} */
h1 {
  font-family: "Permanent Marker", cursive;
  color: #112d4e;
}
.heading {
  text-align: center;
}
.description {
  width: 70%;
  text-align: center;
  align-self: center;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}
.bottom-container {
  text-align: center;
  background-color: #212529;
  padding: 50px 0 10px;
}
.copyright {
  color: #eaf6f6;
  padding: 10px;
  font-size: 1rem;
}
a {
  color: #b6dedf !important;
  font-family: "Montserrat", sans-serif;

  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6 !important;
}
hr {
  border: dotted #66bfbf 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
}
.middlebox {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#text-container {
  text-align: center;
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

#static-text {
  margin-right: 10px;
}

#text-to-type {
  display: inline-block;
  color: purple;
  /* text-decoration: underline; */
}
#cursor {
  margin-left: 5x;
  opacity: 0;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  margin: 2rem 2rem 0;
  justify-content: center;
}

.card {
  height: 215px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card-title {
  color: white;
  font-size: 24px;
  margin: 20px 0 0 20px;
  z-index: 1;
}

.para {
  color: white;
  font-weight: 400;
  font-size: 16px;
  align-self: end;
  margin: 0 0 20px 20px;
  letter-spacing: 0.5px;
  z-index: 1;
}

.card-img {
  position: absolute;
  top: 0;
  height: 110%;
  width: 100%;
  z-index: 0;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  filter: brightness(0.5);
}

.card:hover {
  transform: scale(1.035, 1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.para:hover {
}

.card:hover img {
  transform: translateY(-10px);
  filter: brightness(1);
}
.carddd {
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.button {
  margin: 20px auto;
  padding: 5px 30px;
  color: purple;
  border-color: purple;
  --bs-btn-active-bg: purple;
  --bs-btn-active-border-color: purple;
}
.button:hover {
  background-color: #212529;
  border-color: #212529;
}
.view {
  display: flex;
  justify-content: center;
}
#image-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-gap: 2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#image-container.show {
  opacity: 1;
  height: auto;
  margin: 2rem 2rem 0;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.card1 {
  max-width: 300px;
  min-height: 250px;
  background: #a7727d;
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card-title1 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.card-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.img1 {
  width: 200px;
}
.project{

  display:flex;
  justify-content:center;
  align-items:center;
  
}
.containerr{
  width:1120px;
  padding:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  
}
.containerr .card2{
  position:relative;
  width:300px;
  height:415px;
  background-color:#fff;
  border-radius:20px;
  margin:20px;
  box-shadow:0 15px 25px rgba(0,0,0,.2);
  cursor:pointer;
  overflow:hidden;
  transition:all .5s ease-in-out;
}
.containerr:hover .card2{
  
  opacity:.8;
  transform:scale(.9);
}
.containerr .card2:hover{
  
  opacity:1;
  transform:scale(1.1);
}
.containerr .card2:nth-child(1) .circle,
.containerr .card2:nth-child(1) .content a{
  background-color:#ffaf00;
}
.containerr .card2:nth-child(2) .circle,
.containerr .card2:nth-child(2) .content a{
  background-color:#da2268;
}
.containerr .card2:nth-child(3) .circle,
.containerr .card2:nth-child(3) .content a{
  background-color:#bb02ff;
}
.containerr .card2 .circle{
  position:relative;
  width:100%;
  height:100%;
  clip-path:circle(160px at center 0);
  background-color:#000;
}
.containerr .card2 h2{
  color:#fff;
  font-size:2rem;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  padding-top:40px;
}
.containerr .card2 .content{
  position:absolute;
  bottom:20px;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  
}
.containerr .card2 .content p{
  font-size:1.2rem;
  color:#666;
  padding-bottom:15px;
}
.containerr .card2 .content a{
  position:relative;
  display:inline-block;
  color:#fff; 
  background-color:#000;
  font-size:1.2rem;
  padding:10px 20px;
  margin:18px 0 10px;
  border-radius:40px;
  text-decoration:none;
}

.footer-dark {
  padding: 10px 0;
  color: #f0f9ff;
  background-color: #212529;

}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
  }
}

@media (max-width:767px) {
  .footer-dark .item.text {
      margin-bottom: 0;
  }
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
      text-align: center;
      margin-top: 20px;
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

